# Nuxt
.nuxt
.output
.data
dist
node_modules
*.log

# Env
.env
.env.*
!.env.example

# Local supabase runtime
supabase/.temp
supabase/.branches

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
